<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .kakao-btn {
        margin-top: 5px;
        width: 183px;
        height: 45px;
        background-image: url(/static/img/kakao_login.png);
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        cursor: pointer;
        background-color: #fee500;
        border-radius: 6px;
    }
</style>
</head>
<body>
    <div class="container my-3">
    <form method="POST" action="{% url 'common:login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include "common/form_errors.html" %}
        <div class="mb-3">
            <label for="username">사용자ID</label>
            <input type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
        <hr>

    </form>
</div>
</body>


